.top{
    display: flex;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.img{
    padding: 20px;
    width: 200px;
    margin: 5px 5px;
    background-color: rgb(191, 201, 201);
    border-radius: 10px;
}
.img img{
    border: 2px solid white;
    margin-top: 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 2px solid ;
}
.down{
    background-color: beige;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    margin: 5px;
    }
.name{
    color: dodgerblue;
}
.salary{
    background-color: goldenrod;
    width: 200px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 20px;
}
button:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}